<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>John's Blog</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- button -->
<link rel="stylesheet" type="text/css" href="statics/css/mycss.css">
<!--input-->
<script type="text/javascript" src="statics/js/classie.js"></script>
<link rel="stylesheet" type="text/css" href="statics/css/component.css" />

</head>
<style>
body.custom-background {
	background: #fff
}

.container {
	padding: 10px 0px;
}
</style>

<body class="home blog custom-background round-avatars">
	<div class="Yarn_Background" style="background-image: url(statics/images/10.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">

			<form id="save_album" th:action="@{~/saveAlbum}" method="post">
				<input required id="cover" name="cover" type="text" hidden />

				<!-- Create Album -->
				<section class="post_content">
					<header class="post_header">
						<p class="status_btn" style="font-size: xx-large; color: #918f90;">Create an Album</p>
					</header>
					<br>
					<div class="post post-layout-list" data-aos="fade-up">
						<!-- Title -->
						<span class="input input--minoru">
							<textarea required name="title" id="title" style="background-color: #fafafa;font-size: x-large; position: relative; left: 130px; width: 500px; height: 75px;" class="input__field input__field--minoru" ></textarea>
							<label class="input__label input__label--minoru" for="title">
								<span style="font-size: x-large;" class="input__label-content input__label-content--minoru">Title</span>
							</label>
						</span>
						<!-- Content -->
						<span class="input input--minoru">
							<textarea required name="content" id="content" style="background-color: #fafafa;font-size: x-large; position: relative; left: 500px; width: 870px; height: 150px;" class="input__field input__field--minoru" ></textarea>
							<label class="input__label input__label--minoru" for="content">
								<span style="font-size: x-large;" class="input__label-content input__label-content--minoru">Content</span>
							</label>
						</span>
						<!-- Button to a Cover to the new Album -->
						<div class="button_su" style="width: 130px; height: 50px; position: relative; left: -305px; bottom: -320px">
							<span class="su_button_circle"> </span>
							<a onclick="addCover()" class="button_su_inner">
								<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 21px; line-height: 1.25;">Add Cover</span>
							</a>
						</div>
					</div>
				</section>

				<!-- Preview and Publish buttons -->
				<div class="wrapper">
					<div class="post post-layout-list" data-aos="fade-up">

						<!-- Preview Button -->
						<div class="button_su" style="width: 130px; height: 50px; position: relative; left: 100px; bottom: -90px">
							<span class="su_button_circle"> </span>
							<a onclick="previewAlbum()" class="button_su_inner">
								<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 9px">Preview</span>
							</a>
						</div>
						<!-- Button to create the Album -->
						<button onclick="saveAlbum()" class="bubbly-button" style="width: 150px; height: 50px; position: relative; left: 430px; bottom: -48px">
							<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 3px">Create</span>
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script type='text/javascript' src='layer/layer.js'></script>

	<form id="upload_image" method="post" enctype="multipart/form-data" hidden>
		<input id="input_image" name="file" onchange="addImage(this)" type="file" />
	</form>

	<script>
		// Open file selector to select a cover
		function addCover() {
			// Open a file selector
			$('#input_image').click();
		}

		// Add an image as the cover
		function addImage(e) {
			// Set the name of selected image into the <input> tag
			$('#cover').val(e.files[0].name);

			// Upload the image
			const formData = new FormData($('#upload_image')[0]);
			$.ajax({
				type: "POST",
				url: "/uploadImage",
				data: formData,
				dataType: "text",
				async: false,
				cache: false,
				processData: false,
				contentType: false,
				success: function() {
					layer.msg("Upload Successfully");
				}
			});
		}

		// Preview the Album
		function previewAlbum() {
			// Put a <form> in the separate page
			const formStr =
			'<form action="http://175.24.112.22/previewAlbum" method="post" hidden>' +
				'<textarea name="title" id="textarea_album_title">' + $("#title").val() + '</textarea>' +
				'<textarea name="content" id="textarea_album_content">' + $("#content").val() + '</textarea>' +
				'<input name="cover" id="input_album_cover" type="text" value="' + $("#cover").val() + '"/>' +
			'</form>';

			// Open the separate page
			const win = window.open("");

			// Put the form inside the separate page
			win.document.body.innerHTML = formStr;

			// Submit the form inside the separate subpage
			win.document.forms[0].submit();

			// Obtain the data in the back end
			// Display the new blog
		}

		// Checks before creating a new Album
		function saveAlbum() {
			let enableCreate = false;

			const title = $('#title').val();
			const content = $('#content').val();
			const cover = $('#cover').val();

			if (title === '') {
				layer.msg('This album wants a Title');
			} else if (content === '') {
				layer.msg('This album wants some Content');
			} else if (cover === '') {
				layer.msg('This album wants a Cover');
			} else {
				enableCreate = true;
			}

			if (enableCreate) {
				$("#save_album").submit();
			}
		}
	</script>


	<!-- 按钮样式 -->
	<!-- button样式 -->
	<script>
		$(".button_su_inner").mouseenter(function(e) {
			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("desplode-circle");
			$(this).prev(".su_button_circle").addClass("explode-circle");

		});

		$(".button_su_inner").mouseleave(function(e) {

			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("explode-circle");
			$(this).prev(".su_button_circle").addClass("desplode-circle");

		});
	</script>
	<!-- button click效果 -->
	<script>
		var animateButton = function(e) {

			e.preventDefault;
			//reset animation
			e.target.classList.remove('animate');

			e.target.classList.add('animate');
			setTimeout(function() {
				e.target.classList.remove('animate');
			}, 700);
		};

		var classname = document.getElementsByClassName("bubbly-button");

		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('click', animateButton, false);
		}
	</script>

	<!-- input -->
	<script type="text/javascript">
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}

			[].slice.call(document.querySelectorAll('input.input__field'))
					.forEach(function(inputEl) {
						// in case the input is already filled..
						if (inputEl.value.trim() !== '') {
							classie.add(inputEl.parentNode, 'input--filled');
						}

						// events:
						inputEl.addEventListener('focus', onInputFocus);
						inputEl.addEventListener('blur', onInputBlur);
					});

			function onInputFocus(ev) {
				classie.add(ev.target.parentNode, 'input--filled');
			}

			function onInputBlur(ev) {
				if (ev.target.value.trim() === '') {
					classie.remove(ev.target.parentNode, 'input--filled');
				}
			}
		})();
	</script>

	<script type="text/javascript">
		window.onscroll = function() {
			var scrollTop = document.body.scrollTop;
			if (scrollTop >= 200) {
				document.getElementById("NextPrevPosts").style.display = "none"
			} else {
				document.getElementById("NextPrevPosts").style.display = "block"
			}
		}
	</script>
</body>

</html>