<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>John's Blog</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
	<link rel="stylesheet" type="text/css" href="statics/css/detail.css" />
	<style>
		.container {
			padding: 10px 0px;
		}

		.post {
			margin: 0 auto
		}
	</style>
</head>

<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
	<div class="Yarn_Background" style="background-image: url(statics/images/2.png);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<article id="post-1202" class="js-gallery post-1202 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-11 tag-22 tag-29">
				<section class="post_content">
					<header class="post_header">
						<h1 class="post_title" th:text="${blog.title}"></h1>
					</header>
					<div class="post-body js-gallery">
						<p th:text="${blog.content}"></p>
						<!-- Mood -->
						<a th:if="${blog.mood != null}" th:href="@{'/moods#' + ${blog.mood.id}}" class="blog-card-title-link">
							<div class="blog-card">
								<div class="blog-card-thumbnail">
									<img width="150" height="150" th:src="|upload/${blog.mood.image}|" class="blog-card-thumb-image wp-post-image" alt="" />
								</div>
								<div class="blog-card-content">
									<div class="blog-card-date clearfix" th:text="${blog.mood.createdTime}"></div>
									<div class="blog-card-title" th:text="${blog.mood.title}"></div>
									<div class="blog-card-excerpt" th:text="${blog.mood.content}"></div>
								</div>
							</div>
						</a>

						<hr th:if="${blog.subTitle != '' || blog.subContent != '' || blog.image != ''}" />

						<p th:if="${blog.subTitle != ''}">
							<span class="yellow-under" th:text="${blog.subTitle}"></span>
						</p>
						<p th:if="${blog.image != ''}">
							<quote class="pullquote">
								<a th:href="|upload/${blog.image}|">
									<img th:src="|upload/${blog.image}|" alt="" width="220" height="220" class="alignnone size-full wp-image-1223" />
								</a>
							</quote>
						</p>
						<p th:if="${blog.subContent != ''}" th:text="${blog.subContent}" style="min-height: 220px"></p>
					</div>
					<div class="meta split split--responsive cf">
						<div class="split__title">
							<time th:text="${blog.createdTime}"></time>
							<span class="" th:each="topic:${blog.topics}">
								<a th:href="@{'/searchTopic?topicId=' + ${topic.id}}" rel="tag" th:text="${topic.topic}"></a>
							</span>
						</div>
						<div id="social-share">
							<span class="entypo-share">
								<i class="iconfont">&#xe614;</i>
								Share
							</span>
						</div>
						<div class="slide">
							<a class="btn-slide" title="switch down">
								<i class="iconfont">&#xe615;</i>
								Hide Comments
							</a>
						</div>
					</div>
				</section>
			</article>
		</div>
		<svg id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
		<div id="social">
			<ul>
				<li>
					<a href="" title="qzone" target="_blank">
						<i class="iconfont">&#xe67f;</i>
					</a>
				</li>
				<li>
					<a href="" title="weibo" target="_blank">
						<i class="iconfont">&#xe680;</i>
					</a>
				</li>
				<li>
					<a href="" title="douban" target="_blank">
						<i class="iconfont">&#xe681;</i>
					</a>
				</li>
				<li>
					<a href="" title="twitter" target="_blank">
						<i class="iconfont">&#xe683;</i>
					</a>
				</li>
			</ul>
		</div>
		<div id="panel">
			<div class="comment-area">
				<section class="comments">
					<div class="comments-main">
						<div id="comments-list-title">
							<span th:text="${blogCommentPageBean.totalCount}"></span>
							Comment<span th:if="${blogCommentPageBean.totalCount > 1}" th:text="s"></span>
						</div>
						<div id="loading-comments">
							<div class="host">
								<div class="loading loading-0"></div>
								<div class="loading loading-1"></div>
								<div class="loading loading-2"></div>
							</div>
						</div>
						<ul class="commentwrap">
							<li th:each="blogComment:${blogCommentPageBean.list}" class="comment even thread-even depth-1" id="li-comment-">
								<div id="comment-969" class="comment_body contents">
									<div class="profile">
										<img th:src="${blogComment.visitor.image}" class="gravatar" alt="avatar">
									</div>
									<div class="main shadow">
										<div class="commentinfo">
											<section class="commeta">
												<div class="shang">
													<h4 class="author">
														<img th:src="${blogComment.visitor.image}" class="gravatarsmall" alt="avatar">
														<span th:text="${blogComment.visitor.username}"></span>
													</h4>
												</div>
											</section>
										</div>
										<div class="body">
											<p th:text="${blogComment.content}"></p>
										</div>
										<div class="xia info">
											<span>
												<time th:text="${blogComment.createdTime}"></time>
											</span>
										</div>
									</div>
								</div>
							</li>
							<!-- #comment-## -->
						</ul>

						<nav id="comments-navi">
							<a th:if="${blogCommentPageBean.currentPage > 1}" class="page-numbers" th:href="@{'/blogDetail?currentPage=1&id=' + ${blog.id}}">|&lt;</a>
							<a th:if="${blogCommentPageBean.currentPage > 1}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.currentPage - 1} + '&id=' + ${blog.id}}">&lt;&lt;</a>
							<a th:if="${(blogCommentPageBean.currentPage - 2) >= 1}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.currentPage - 2} + '&id=' + ${blog.id}}" th:text="${blogCommentPageBean.currentPage - 2}"></a>
							<a th:if="${(blogCommentPageBean.currentPage - 1) >= 1}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.currentPage - 1} + '&id=' + ${blog.id}}" th:text="${blogCommentPageBean.currentPage - 1}"></a>
							<span th:if="${blogCommentPageBean.totalPages > 1}" aria-current='page' class='page-numbers current' th:text="${blogCommentPageBean.currentPage}"></span>
							<a th:if="${(blogCommentPageBean.currentPage + 1) <= blogCommentPageBean.totalPages}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.currentPage + 1} + '&id=' + ${blog.id}}" th:text="${blogCommentPageBean.currentPage + 1}"></a>
							<a th:if="${(blogCommentPageBean.currentPage + 2) <= blogCommentPageBean.totalPages}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.currentPage + 2} + '&id=' + ${blog.id}}" th:text="${blogCommentPageBean.currentPage + 2}"></a>
							<a th:if="${blogCommentPageBean.currentPage < blogCommentPageBean.totalPages}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.currentPage + 1} + '&id=' + ${blog.id}}">&gt;&gt;</a>
							<a th:if="${blogCommentPageBean.currentPage < blogCommentPageBean.totalPages}" class='page-numbers' th:href="@{'/blogDetail?currentPage=' + ${blogCommentPageBean.totalPages} + '&id=' + ${blog.id}}">&gt;|</a>
						</nav>

						<div id="respond" class="comment-respond">
							<h6 id="replytitle" class="comment-reply-title">
								<a rel="nofollow" id="cancel-comment-reply-link" href="" style="display: none;">取消</a>
							</h6>
							<form th:action="@{~/saveBlogComment}" method="post" id="commentform" class="clearfix">
								<div class="clearfix"></div>
								<input type='hidden' name='blogId' th:value='${blog.id}' />
								<p style="display: none;">
									<input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="632104fca1" />
								</p>
								<p style="display: none;">
									<input type="hidden" id="ak_js" name="ak_js" value="87" />
								</p>
								<!-- Only let visitors to leave a message -->
								<div class="comment-form-info" sec:authorize="hasAnyAuthority('VISITOR')">
									<div class="real-time-gravatar" >
										<img id="real-time-gravatar" th:src="${session.visitor.image}" alt="gravatar头像" />
									</div>
									<p class="input-row">
										<i class="row-icon"></i>
										<textarea class="text_area" rows="3" cols="80" name="content" id="comment" tabindex="4" placeholder="Don't you want to say something? (°∀°)ﾉ..."></textarea>
										<input type="submit" name="submit" class="button" id="submit" tabindex="5" value="Send" />
									</p>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
		<svg id="dwTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
		<div class="wrapper"></div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type="text/javascript">
		window.onscroll = function() {
			var scrollTop = document.body.scrollTop;
			if (scrollTop >= 200) {
				document.getElementById("NextPrevPosts").style.display = "none"
			} else {
				document.getElementById("NextPrevPosts").style.display = "block"
			}
		}
	</script>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script type='text/javascript' src='statics/js/prism.js'></script>
	<script type='text/javascript' src='statics/js/gravatar.js'></script>
</body>

</html>