<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>John's Blog</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />


<link rel="stylesheet" type="text/css" href="statics/css/mycss.css" media="all" />
<!--input-->
<script type="text/javascript" src="statics/js/classie.js"></script>
<link rel="stylesheet" type="text/css" href="statics/css/component.css" />



</head>

<body class="home blog custom-background round-avatars">
	<div class="Yarn_Background" style="background-image: url(statics/images/47fb3c_.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<article itemscope="itemscope">
				<div class="posts-list js-posts">

					<!-- Search -->
					<div class="post post-layout-list" data-aos="fade-up">
						<header class="post_header">
							<p class="status_btn" style="font-size: xx-large; color: #918f90;">Search</p>
						</header>
						<br>
						<br>
						<form th:action="@{~/search}" method="post">
							<span class="input input--minoru">
								<input class="input__field input__field--yoko" type="text" name="keyword" id="input-16" />
								<label class="input__label input__label--yoko" for="input-16">
									<span style="font-size: medium;" class="input__label-content input__label-content--yoko">Hey guys, what are you looking for?</span>
								</label>
							</span>
							<button type="submit" class="bubbly-button" style="width: 150px; height: 50px; position: relative; left: 200px; bottom: 89px">
								<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 5px">Go!!</span>
							</button>
						</form>
					</div>

					<!-- Blog -->
					<div class="post post-layout-list" data-aos="fade-up">
						<p class="status_btn" style="font-size: xx-large; color: #918f90;">Blog</p>
					</div>
					<div th:each="blog:${blogList}" class="post post-layout-list" data-aos="fade-up">
						<div class="postnormal review ">
							<div class="post-container review-item">
								<div class="row review-item-wrapper">
									<div class="col-sm-3">
										<a rel="nofollow" th:href="@{'/blogDetail?id=' + ${blog.id}}">
											<div class="review-item-img" th:style="|background-image: url(/upload/${blog.cover});|"></div>
										</a>
									</div>
									<div class="col-sm-9 flex-xs-middle">
										<div class="review-item-title">
											<a th:href="@{'/blogDetail?id=' + ${blog.id}}" rel="bookmark" th:text="${blog.title}"></a>
										</div>
										<div class="review-item-creator">
											<b>Published at: </b>
											<span th:text="${blog.createdTime}"></span>
										</div>
										<span class="review-item-info">
										<b>Total Views: </b>
										<span th:text="${blog.viewNumber}"></span>
									</span>
									</div>
								</div>
								<div class="review-bg-wrapper">
									<div class="bg-blur" th:style="|background-image: url(/upload/${blog.cover});|"></div>
								</div>
							</div>
							<div class="post-container">
								<div class="entry-content" th:text="${blog.content}" style="width:767px; height:90px; overflow:hidden; text-overflow:ellipsis"></div>
								<div class="post-footer">
									<a class="gaz-btn primary" th:href="@{'/blogDetail?id=' + ${blog.id}}">READ MORE</a>
									<span class="total-comments-on-post pull-right">
									<a th:href="@{'/blogDetail?id=' + ${blog.id}}">
										<span th:text="${blog.commentNumber}"></span>
										Comment<span th:if="${blog.commentNumber > 1}" th:text="s"></span>
									</a>
								</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Mood -->
					<div class="post post-layout-list" data-aos="fade-up">
						<p class="status_btn" style="font-size: xx-large; color: #918f90;">Mood</p>
					</div>
					<div th:each="mood:${moodList}" class="post post-layout-list" data-aos="fade-up">
						<div class="status_list_item icon_kyubo">
							<div class="status_user" th:style="|background-image: url(/upload/${mood.image});|">
								<div class="status_section">
									<a th:href="@{'/moods#' + ${mood.id}}" class="status_btn" th:text="${mood.title}"></a>
									<p class="section_p" th:text="mood.content"></p>
								</div>
							</div>
						</div>
					</div>

					<!-- Album -->
					<div class="post post-layout-list" data-aos="fade-up">
						<p class="status_btn" style="font-size: xx-large; color: #918f90;">Album</p>
					</div>
					<div th:each="album:${albumList}" class="post post-layout-list js-gallery" data-aos="fade-up">
						<div class="post-album">
							<div class="row content">
								<div class="bg" th:style="|background-image: url(/upload/${album.cover});|"></div>
								<div class="contentext flex-xs-middle">
									<div class="album-title">
										<a th:href="@{'/albumDetail?id=' + ${album.id}}" th:text="${album.title}"></a>
									</div>
									<h5 class="review-item-creator">
										<b>Created at: </b>
										<span th:text="${album.createdTime}"></span>
									</h5>
									<div class="album-content" th:text="${album.content}" style="width:460px; height:90px; overflow:hidden; text-overflow:ellipsis; white-space:normal"></div>
								</div>
								<div class="album-thumb-width flex-xs-middle">
									<div class="row album-thumb no-gutter">
										<div th:each="image,iterStat:${album.images}" th:if="${iterStat.index <= 5}" class="col-xs-4">
											<img th:if="${iterStat.index <= 4}" class="thumb" th:src="|upload/album-${album.id}/${image.image}|" />
											<div th:if="${iterStat.index == 5}">
												<a th:href="@{'/albumDetail?id=' + ${album.id}}" th:text="|${album.imageNumber} PICS|"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</article>
		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>

	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script src="layer/layer.js"></script>

	<!-- 弹出框 -->
	<script type="text/javascript" th:inline="javascript">
		//弹出框
		$("#image").on("click", function() {
			/*layer.open({
				type : 2,
				area : [ '700px', '450px' ],
				fixed : false, //不固定
				maxmin : true,
				content : "http://localhost:8080/user.html"
			});*/

			var index = layer.open({
				type : 2,
				content : 'http://localhost:8080/index',
				area : [ '320px', '195px' ],
				maxmin : true
			});
			layer.full(index);
		})
	</script>
	
	<!-- button样式 -->
	<script>
		$(".button_su_inner").mouseenter(function(e) {
			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("desplode-circle");
			$(this).prev(".su_button_circle").addClass("explode-circle");

		});

		$(".button_su_inner").mouseleave(function(e) {

			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("explode-circle");
			$(this).prev(".su_button_circle").addClass("desplode-circle");

		});
	</script>
	<!-- button click效果 -->
	<script>
		var animateButton = function(e) {

			e.preventDefault;
			//reset animation
			e.target.classList.remove('animate');

			e.target.classList.add('animate');
			setTimeout(function() {
				e.target.classList.remove('animate');
			}, 700);
		};

		var classname = document.getElementsByClassName("bubbly-button");

		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('click', animateButton, false);
		}
	</script>

	<!-- input -->
	<script type="text/javascript">
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}

			[].slice.call(document.querySelectorAll('input.input__field'))
					.forEach(function(inputEl) {
						// in case the input is already filled..
						if (inputEl.value.trim() !== '') {
							classie.add(inputEl.parentNode, 'input--filled');
						}

						// events:
						inputEl.addEventListener('focus', onInputFocus);
						inputEl.addEventListener('blur', onInputBlur);
					});

			function onInputFocus(ev) {
				classie.add(ev.target.parentNode, 'input--filled');
			}

			function onInputBlur(ev) {
				if (ev.target.value.trim() === '') {
					classie.remove(ev.target.parentNode, 'input--filled');
				}
			}
		})();
	</script>
</body>

</html>