<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>John's Blog</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />

<!-- button -->
<link rel="stylesheet" type="text/css" href="statics/css/mycss.css">
<!--input-->
<script type="text/javascript" src="statics/js/classie.js"></script>
<link rel="stylesheet" type="text/css" href="statics/css/component.css" />


</head>
<style>
body.custom-background {
	background: #fff
}

.container {
	padding: 10px 0px;
}
</style>
<body class="home blog custom-background round-avatars">
<!--	<div class="Yarn_Background" style="background-image: url(statics/images/47fb3c_.jpg);"></div>-->
	<div class="Yarn_Background" style="background-image: url(statics/images/18.png);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<section class="post_content">
				<div sec:authorize="hasAnyAuthority('ADMIN')">
					<header class="post_header">
						<p class="status_btn" style="font-size: xx-large; color: #918f90;">Your Mood Today</p>
					</header>

					<form id="save_mood" th:action="@{~/saveMood}" method="post" enctype="multipart/form-data">
						<input onchange="addImage()" required type="file" hidden="hidden" id="input_image" name="file" />

						<!-- Upload a new Mood -->
						<!-- Title -->
						<span class="input input--isao">
							<input required name="title" id="title" style="font-size: x-large;" class="input__field input__field--isao" type="text" />
							<label style="font-size: large;" class="input__label input__label--isao" for="title" data-content="Title">
								<span class="input__label-content input__label-content--isao">Title</span>
							</label>
						</span>
						<!-- Content -->
						<span class="input input--isao">
							<textarea required name="content" id="content" style="font-size: x-large; width: 370px; height: 57px;" class="input__field input__field--isao"></textarea>
							<label style="font-size: large;" class="input__label input__label--isao" for="content" data-content="Content">
								<span class="input__label-content input__label-content--isao">Content</span>
							</label>
						</span>

						<div class="post post-layout-list" data-aos="fade-up">
							<!-- Button to upload an image -->
							<div class="button_su" style="width: 130px; height: 50px; position: relative; left: 15px; bottom: -50px">
								<span class="su_button_circle"> </span>
								<a onclick="uploadImage()" class="button_su_inner">
									<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 16px; line-height: 1">Upload Image</span>
								</a>
							</div>

							<!-- Button to upload a Mood -->
							<button onclick="saveMood()" class="bubbly-button" style="width: 150px; height: 50px; position: relative; left: 505px; bottom: -10px">
								<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 12px">Upload Mood</span>
							</button>
						</div>
					</form>
				</div>

				<br>

				<header class="post_header">
					<p class="status_btn" style="font-size: xx-large; color: #918f90;">Memories</p>
				</header>

				<br>

				<div class="applicant__timeline">
					<ul>
						<li th:each="mood:${moodList}" class="warning">
							<a th:id="${mood.id}"></a>
							<h1 style="color: #666666; position: relative; right: 288px" th:text="${mood.createdTime}"></h1>
							<div class="post post-layout-list" data-aos="fade-up">
								<div class="status_list_item icon_kyubo">
									<div class="status_user" th:style="|background-image: url(/upload/${mood.image});|">
										<div class="status_section">
											<p class="status_btn" th:text="${mood.title}"></p>
											<p class="section_p" th:text="${mood.content}"></p>
										</div>
									</div>
								</div>
								<div sec:authorize="hasAnyAuthority('ADMIN')">
									<div class="button_su" style="width: 80px; height: 40px; position: relative; left: 600px; bottom: -40px">
										<span class="su_button_circle"> </span>
										<a th:onclick="|deleteMood(${mood.id})|" class="button_su_inner">
											<span class="status_btn" style="color: white; position: relative; right: 25px; bottom: 13px">Delete</span>
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>

	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script type='text/javascript' src='layer/layer.js'></script>

	<script>
		// Display the file selection modal
		function uploadImage() {
			$("#input_image").click();
		}

		// Add an image for the mood
		function addImage() {
			const formData = new FormData($("#save_mood")[0]);

			$.ajax({
				type: "POST",
				url: "/uploadImage",
				data: formData,
				dataType: "text",
				async: false,
				cache: false,
				processData: false,
				contentType: false,
				success: function() {
					layer.msg("Upload Successfully");
				}
			});
		}

		// Checks before uploading a new Mood
		function saveMood() {
			let enableUpload = false;

			const title = $('#title').val();
			const content = $('#content').val();
			const image = $('#input_image').val();

			if (title === '') {
				layer.msg('This mood wants a Title');
			} else if (content === '') {
				layer.msg('This mood wants some Content');
			} else if (image === '') {
				layer.msg('This mood wants an Image');
			} else {
				enableUpload = true;
			}

			if (enableUpload) {
				$("#save_mood").submit();
			}
		}

		// Delete a Mood by id
		function deleteMood(id) {
			const xhr = new XMLHttpRequest();
			const param = "?deletedId=" + id;
			xhr.open("get", "/deleteMood" + param, false);

			xhr.onload = function() {
				// Return back to mood.html
				window.location = "/moods";
			}

			xhr.send();
		}
	</script>


	<!-- 按钮样式 -->
	<!-- button样式 -->
	<script>
		$(".button_su_inner").mouseenter(function(e) {
			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("desplode-circle");
			$(this).prev(".su_button_circle").addClass("explode-circle");

		});

		$(".button_su_inner").mouseleave(function(e) {

			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("explode-circle");
			$(this).prev(".su_button_circle").addClass("desplode-circle");

		});
	</script>
	<!-- button click效果 -->
	<script>
		var animateButton = function(e) {

			e.preventDefault;
			//reset animation
			e.target.classList.remove('animate');

			e.target.classList.add('animate');
			setTimeout(function() {
				e.target.classList.remove('animate');
			}, 700);
		};

		var classname = document.getElementsByClassName("bubbly-button");

		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('click', animateButton, false);
		}
	</script>

	<!-- input -->
	<script type="text/javascript">
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}

			[].slice.call(document.querySelectorAll('input.input__field'))
					.forEach(function(inputEl) {
						// in case the input is already filled..
						if (inputEl.value.trim() !== '') {
							classie.add(inputEl.parentNode, 'input--filled');
						}

						// events:
						inputEl.addEventListener('focus', onInputFocus);
						inputEl.addEventListener('blur', onInputBlur);
					});

			function onInputFocus(ev) {
				classie.add(ev.target.parentNode, 'input--filled');
			}

			function onInputBlur(ev) {
				if (ev.target.value.trim() === '') {
					classie.remove(ev.target.parentNode, 'input--filled');
				}
			}
		})();
	</script>
</body>

</html>