<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>John's Blog</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
</head>

<body class="home blog custom-background round-avatars">
<div class="Yarn_Background" style="background-image: url(statics/images/12.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<h1 class="page-title" th:text='|All Blogs under "${topic}" topic|'></h1>
			<div class="location">
				Current Position：
				<a th:href="@{~/index}">Main Page</a>
				&raquo; Searched Blogs &raquo; <span th:text="${topic}"></span>
				<div class="mt+">
					<div class="pagination js-pagination">
						<div class="js-next pagination__load"></div>
					</div>
				</div>
			</div>

			<div th:if="${blogList.size() > 0}">
				<p class="Searchmeta">
					Found
					<span th:text="${blogList.size()}"></span>
					Blog<span th:if="${blogList.size() > 1}">s</span>
				</p>
				<div th:each="blog:${blogList}" class="posts-list js-posts">
					<div class="archive-post">
						<div class="type">
							<div class="mask">
								<i class="iconfont">&#xe604;</i>
							</div>
						</div>
						<h2 class="archive-title">
						<span>
							<a th:href="@{'/blogDetail?id=' + ${blog.id}}" th:text="${blog.title}"></a>
						</span>
							<div class="post-time" th:text="${blog.createdTime}"></div>
						</h2>
						<div class="post-category">
							<a th:each="topic,iterStat:${blog.topics}" th:href="@{'/searchTopic?topicId=' + ${topic.id}}" rel="category tag">
								<span th:text="${topic.topic}"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="mt+">
					<div class="pagination js-pagination">
						<div class="js-next pagination__load"></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
</body>

</html>