<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>John's Blog</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />

<!-- button -->
<link rel="stylesheet" type="text/css" href="statics/css/mycss.css">
<!--input-->
<script type="text/javascript" src="statics/js/classie.js"></script>
<link rel="stylesheet" type="text/css" href="statics/css/component.css" />


</head>
<style>
body.custom-background {
	background: #fff
}

.container {
	padding: 10px 0px;
}
</style>
<body class="home blog custom-background round-avatars">
	<div class="Yarn_Background" style="background-image: url(statics/images/18.png);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<section class="post_content">

				<header class="post_header">
					<p class="status_btn" style="font-size: xx-large; color: #918f90;">Memories</p>
				</header>

				<br>

				<div class="applicant__timeline">
					<ul>
						<li th:each="mood:${moodList}" class="warning">
							<h1 style="color: #666666; position: relative; right: 288px" th:text="${mood.createdTime}"></h1>
							<div th:onclick="|selectMood(${mood.id})|" class="post post-layout-list" data-aos="fade-up" style="cursor: pointer">
								<div class="status_list_item icon_kyubo">
									<div class="status_user" th:style="|background-image: url(/upload/${mood.image});|">
										<div class="status_section">
											<a class="status_btn" th:text="${mood.title}"></a>
											<p class="section_p" th:text="${mood.content}"></p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>

	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script type='text/javascript' src="layer/layer.js"></script>

	<script>
		// "parent" is a global variable, and we can use it to operate the parent page
		// Obtain index of the current frame
		const index = parent.layer.getFrameIndex(window.name);

		// Obtain the mood selected by the user
		function selectMood(id) {
			// Give the id of the selected mood to the parent page
			parent.$("#input_mood_id").val(id);

			// Close the subpage (itself) automatically
			parent.layer.close(index);

			// Display a success message after the user added a mood
			parent.layer.msg("Mood Added");
		}
	</script>

	<!-- button style -->
	<script>
		$(".button_su_inner").mouseenter(function(e) {
			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("desplode-circle");
			$(this).prev(".su_button_circle").addClass("explode-circle");

		});

		$(".button_su_inner").mouseleave(function(e) {

			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("explode-circle");
			$(this).prev(".su_button_circle").addClass("desplode-circle");

		});
	</script>
	<!-- button click -->
	<script>
		var animateButton = function(e) {

			e.preventDefault;
			//reset animation
			e.target.classList.remove('animate');

			e.target.classList.add('animate');
			setTimeout(function() {
				e.target.classList.remove('animate');
			}, 700);
		};

		var classname = document.getElementsByClassName("bubbly-button");

		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('click', animateButton, false);
		}
	</script>

	<!-- input -->
	<script type="text/javascript">
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}

			[].slice.call(document.querySelectorAll('input.input__field'))
					.forEach(function(inputEl) {
						// in case the input is already filled..
						if (inputEl.value.trim() !== '') {
							classie.add(inputEl.parentNode, 'input--filled');
						}

						// events:
						inputEl.addEventListener('focus', onInputFocus);
						inputEl.addEventListener('blur', onInputBlur);
					});

			function onInputFocus(ev) {
				classie.add(ev.target.parentNode, 'input--filled');
			}

			function onInputBlur(ev) {
				if (ev.target.value.trim() === '') {
					classie.remove(ev.target.parentNode, 'input--filled');
				}
			}
		})();
	</script>
</body>

</html>